@import "~@/asset/style/var";

.page-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    overflow: hidden;
    background-color: #f0f2f5;

    > .scroll-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow-y: overlay;
        overflow-x: inherit;

        > .page-view {
            margin: $page-view-margin;
            flex: 1;
        }
    }
}
