@import "~nprogress/nprogress.css";

#nprogress {
    .bar {
        background: $--color-primary;
        height: 5px;

        .peg {
            box-shadow: 0 0 10px $--color-primary, 0 0 5px $--color-primary;;
        }
    }
}
