@import "~@/style/var";
@import "~@/style/mixin.scss";

.exception {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
        height: 360px;
        max-width: 430px;
        padding-right: 52px;
    }

    .content {
        h1 {
            color: $--color-text-primary;
            font-size: 72px;
            font-weight: 600;
            line-height: 72px;
            margin-bottom: 24px;
        }

        .desc {
            color: $--color-text-secondary;
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 16px;
        }
    }
}

@include mobile{
    .exception {
        height: 100%;
        flex-direction: column;

        img {
            height: 40%;
            max-width: 80%;
            padding-right: unset;
        }
    }
}
