@import "~@/asset/style/variables.scss";

//侧边栏
.aside {
    display: flex;
    flex-direction: column;
    width: $aside-width;
    background-color: $aside-menu-background;
    font-size: 0;
    flex-shrink: 0;
    height: 100vh;
    z-index: 10;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    transition: all 0.2s ease-in-out;

    //移动端时为fixed
    &.mobile {
        position: fixed;
    }

    //折叠状态
    &.collapse {
        width: $aside-icon-size + 20px * 2;
    }

    //抽屉模式时的隐藏状态
    &.hide {
        width: 0;
        pointer-events: none;
        transform: translateX(-$aside-width);
    }

    .sidebar-logo-container {
        position: relative;
        width: 100%;
        height: $nav-height;
        line-height: $nav-height;
        text-align: center;

        .sidebar-logo-link {
            height: 100%;
            width: 100%;

            .sidebar-logo {
                width: 32px;
                height: 32px;
                vertical-align: middle;
                margin-right: 12px;
            }

            .sidebar-title {
                display: inline-block;
                margin: 0;
                color: #ffffff;
                font-weight: 600;
                line-height: $nav-height;
                font-size: 14px;
                font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
                vertical-align: middle;
            }
        }

        &.collapse {
            .sidebar-logo {
                margin-right: 0;
            }
        }
    }

    .el-scrollbar {
        flex: 1;

        &__wrap {
            overflow-x: hidden;
        }
    }
}

//侧边栏垂直菜单
.el-menu--vertical .el-menu,
.el-menu--vertical.el-menu {
    background-color: $aside-menu-background;
    overflow-y: auto;

    .icon {
        font-size: $aside-icon-size;
    }

    .icon + .menu-item-content {
        margin-left: $menu-icon-text-gap;
    }

    //菜单的文字以及hover颜色
    .el-menu-item,
    .el-submenu__title {
        color: $aside-menu-item-color;

        &:hover {
            color: $aside-menu-item-hover-color;
        }

        > span {
            //侧边栏宽度、菜单左右padding、左侧图标宽度、距离左右的距离、右侧图标宽度
            max-width: $aside-width - 20px * 2 - $aside-icon-size - $menu-icon-text-gap * 2 - 12px;
        }
    }

    //子级菜单的背景颜色
    &.el-menu--inline,
    .el-submenu .el-submenu > .el-submenu__title {
        background-color: $aside-sub-menu-background;
    }

    //子级菜单内阴影
    &.el-menu--inline {
        box-shadow: inset 0 2px 8px rgba(0, 0, 0, .45)
    }

    //设置了显示弹出菜单的父级
    &.el-menu--popup .popover-menu__title {
        cursor: auto;
        color: $aside-menu-item-hover-color;
        border-bottom: 1px solid $aside-sub-menu-background;
    }
}

//移动端侧边栏展开时的遮罩
.aside-hidden-mask {
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 9;
}




