.aside.dark {
    background-color: $menu-dark-background;

    .root-sidebar,
    .root-sidebar > .el-menu--vertical.el-menu {
        background-color: $root-menu-dark-background;
    }

    .root-sidebar {
        border-right-color: $border-color-dark;
    }

    .sub-sidebar-title {
        color: #ffffff;
    }

    .hamburger {
        border-top-color: $border-color-dark;

        i {
            color: $menu-text-dark-color;
        }
    }
}
