.guide-highlighted-element {
    z-index: 1002 !important;
}

.guide-position-relative {
    position: relative !important;
}

.guide-fix-stacking {
    z-index: auto !important;
    opacity: 1.0 !important;
    transform: none !important;
    filter: none !important;
    perspective: none !important;
    transform-style: flat !important;
    will-change: unset !important;
}

.guide-popover-container {
    min-width: 300px;

    .guide-popover-action {
        position: relative;
        height: 100%;
        width: 100%;
        margin-top: 20px;

        .action-close {
            display: inline-block;
        }

        .action-step {
            display: inline-block;
            right: 0;
            position: absolute;

            .prev-btn {
                position: absolute;
                right: 90px;
            }
        }
    }
}

.guide-body-overflow-hidden {
    overflow: hidden !important;
}

#guide-stage {
    position: absolute;
    background-color: white;
    transition: all 0.3s;
    z-index: 1001 !important;
    border-radius: 2px;
    /*background-color: transparent !important;
    outline: 5000px solid rgba(0, 0, 0, 0.75);*/
}

#guide-overlay {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.75;
    z-index: 1000 !important;
}

#guide-highlight-element-cover {
    position: absolute;
    background-color: transparent !important;
    z-index: 1003 !important;
}
