/*仅覆盖element-ui中的预设变量，不会被使用*/

//返回顶部的背景色
$--backtop-background-color: $--background-color-base;
//返回顶部hover背景色
$--backtop-hover-background-color: $--border-color-lighter;

//el-table的表头字体颜色
$--table-header-font-color: $--color-text-primary;
//el-table的表头背景颜色
$--table-header-background-color: #fbfbfb;

//引入element的scss时需要覆盖字体路径
$--font-path: '~element-ui/lib/theme-chalk/fonts';
