.navbar.light {
    background-color: $--color-white;

    .navbar-item {
        color: $navbar-item-color-light;

        &:hover {
            background-color: $navbar-item-hover-color-light;
        }
    }
}
