.navbar.light {
    background-color: #ffffff;

    .navbar-item {
        color: $navbar-item-color-light;

        &:hover {
            background: $navbar-item-hover-color-light;
        }
    }
}
