@import "~@/asset/style/variables.scss";

$bg: #283443;
$light_gray: #fff;
$dark_gray: #889aa4;
$cursor: #fff;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
    .login-container .el-input input {
        color: $cursor;
    }
}

.login-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    canvas {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: #2d3a4b;
    }

    .login-container {
        flex: 1;
        padding: 32px 35px;
        text-align: center;
        width: 520px;
        max-width: 100%;
        margin: 0 auto;

        .title {
            padding-top: 120px;
            margin-bottom: 40px;
            cursor: pointer;
            font-size: 26px;
            color: #eee;
            font-weight: bold;
            position: relative;

            .set-animation {
                color: #ffffff;
                position: absolute;
                top: 115px;
                font-size: 18px;
                right: 10px;
                cursor: pointer;
            }
        }

        .svg-container {
            padding: 6px 5px 6px 0;
            color: $dark_gray;
            vertical-align: middle;
            display: inline-block;
        }

        .show-pwd {
            position: absolute;
            right: 10px;
            top: 7px;
            font-size: 16px;
            color: $dark_gray;
            cursor: pointer;
            user-select: none;
        }

        .el-input {
            display: inline-block;
            height: 47px;
            width: 85%;

            input {
                background: transparent;
                border: 0;
                -webkit-appearance: none;
                border-radius: 0;
                padding: 12px 5px 12px 15px;
                color: $light_gray;
                height: 47px;
                caret-color: $cursor;

                &:-webkit-autofill {
                    box-shadow: 0 0 0 1000px $bg inset !important;
                    -webkit-text-fill-color: $cursor !important;
                }
            }
        }

        .el-form-item {
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 5px;
            background: rgba(0, 0, 0, 0.1);
            margin-bottom: 22px;
        }

        .submit-btn {
            width: 100%;
        }

        .other-ways {
            color: #ffffff;
            font-size: 14px;

            svg {
                cursor: pointer;
                margin-left: 10px;

                &:hover {
                    color: $--color-primary;
                }
            }
        }
    }
}
