@import "~normalize.css/normalize.css";
@import "./variables";
@import "~element-ui/packages/theme-chalk/src/index";
@import "~@ele/style/index.scss";
@import "./element-ui";
@import './display';
@import "./transition";
@import "./nprogress";

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    -webkit-tap-highlight-color: transparent;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active,
div:focus {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

//非移动端的滚动条样式修改
@include pc {
    ::-webkit-scrollbar {
        width: 6px;

        &:horizontal {
            height: 6px;
        }

        &-thumb {
            width: 6px;
            //border-radius: 5px;
            background-color: rgba($--color-primary, 0.8);

            &:hover {
                background-color: rgba($--color-primary, 1);
            }
        }
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.tip-row {
    position: relative;
    z-index: 1;
    background: #fafafa;
    padding: 8px 24px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: block;
    line-height: 32px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #337ab7;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    * + & {
        margin-top: 40px;
    }

    a {
        color: #337ab7;
        cursor: pointer;
        text-decoration: underline;
    }
}
