.right-out,
.left-out {
    &-leave-active,
    &-enter-active {
        transition: all .2s;
    }
}

.right-out {
    &-enter {
        opacity: 0;
        transform: translateX(-30px);
    }

    &-leave-to {
        opacity: 0;
        transform: translateX(30px);
    }
}

.left-out {
    &-enter {
        opacity: 0;
        transform: translateX(30px);
    }

    &-leave-to {
        opacity: 0;
        transform: translateX(-30px);
    }
}
