@import "~@/asset/style/variables.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: $nav-height;
    padding: 0 12px;
    transition: height .3s ease-in-out;
    position: relative;
    z-index: 9;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);

    > div {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
    }

    .navbar-icon {
        font-size: 18px;
    }

    .navbar-item {
        display: flex;
        align-items: center;
        padding: 0 8px;
        color: #5a5e66;
        transition: background .3s;
        cursor: pointer;

        &:hover {
            background: rgba(0, 0, 0, .025)
        }
    }

    .avatar-wrapper {
        display: flex;
        align-items: center;

        span {
            margin-right: 5px;
            font-size: 18px;
        }
    }
}

//顶部水平菜单
.el-menu--horizontal .el-menu,
.el-menu--horizontal.el-menu {
    font-size: 14px;

    .icon {
        font-size: 14px;
    }

    //图标和文字的间隔
    .icon + .menu-item-content {
        margin-left: $menu-icon-text-gap;
    }

    //菜单的文字以及hover颜色
    .el-menu-item,
    .el-submenu__title {
        color: $head-menu-item-color;

        &:hover {
            color: $head-menu-item-hover-color;
        }

        > span {
            max-width: 100px;
        }
    }

    //submenu的右侧箭头会稍微偏上，不懂为啥
    .el-submenu__icon-arrow {
        margin-top: -4px;
    }
}

//顶部菜单的顶级节点
.el-menu--horizontal.el-menu {
    //不显示折叠展开按钮
    > .el-submenu > .el-submenu__title > .el-submenu__icon-arrow {
        display: none;
    }

    //顶级节点的高度以及hover颜色
    > .el-menu-item,
    > .el-submenu > .el-submenu__title {
        height: $nav-height;
        line-height: $nav-height;

        &:hover {
            border-bottom: 2px solid $head-menu-item-hover-color;
        }
    }
}
