.ant-empty {
    padding: 20px;
    margin: 0 8px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;

    &-image {
        height: 100px;
        margin-bottom: 8px;

        img {
            height: 100%;
        }

        svg {
            height: 100%;
            margin: auto;
        }
    }

    &-description {
        margin: 0;
    }

    &-footer {
        margin-top: 16px;
    }

    &-normal {
        margin: 32px 0;
        color: rgba(0, 0, 0, .25);

        .ant-empty-image {
            height: 40px;
        }
    }

    &-small {
        margin: 8px 0;
        color: rgba(0, 0, 0, .25);

        .ant-empty-image {
            height: 35px;
        }
    }
}
