.el-menu--dark {
    //侧边栏垂直菜单
    &.el-menu--vertical {
        &.el-menu,
        .el-menu {
            background-color: $menu-background-dark;

            //菜单的文字以及hover颜色
            .el-menu-item,
            .el-submenu__title {
                color: $menu-text-color-dark;

                &:hover {
                    color: $menu-text-hover-color-dark;
                }
            }

            //子级菜单的背景颜色
            &.el-menu--inline {
                background-color: $sub-menu-background-dark;
            }

            //子级菜单内阴影
            &.el-menu--inline {
                box-shadow: inset 0 2px 8px darken($sub-menu-background-dark, 10%)
            }

            //设置了显示弹出菜单的父级
            &.el-menu--popup .popover-menu__title {
                color: $menu-text-hover-color-dark;
                border-bottom-color: $border-color-dark;
            }
        }
    }

    //顶部水平菜单
    &.el-menu--horizontal {
        &.el-menu,
        .el-menu {
            background-color: $root-menu-background-dark;

            //菜单的文字以及hover颜色
            .el-menu-item,
            .el-submenu__title {
                color: $menu-text-color-dark;

                &:hover {
                    color: $menu-text-hover-color-dark;
                }
            }
        }

        &.el-menu > .el-menu-item,
        &.el-menu > .el-submenu > .el-submenu__title,
        &.el-menu > .el-menu-item:hover,
        &.el-menu > .el-submenu > .el-submenu__title:hover {
            border-bottom: none;
        }
    }
}
